**/settings/Mainnet.toml
**/settings/Testnet.toml

.archive/
.cache/**
*/.cache/**
*.cache/**
app/.cache/
contracts/.cache/
history.txt
deployments/

Mainnet.toml
Testnet.toml

logs
*.log
npm-debug.log*
coverage
*.info
costs-reports.json
node_modules
*.template.json

Clarinet-console-commands.md